@tailwind base;
    @tailwind components;
    @tailwind utilities;

    .glow-card:hover {
      box-shadow: 0 0 12px 5px rgba(0, 0, 255, 0.4);
      transform: scale(1.05);
    }

    button:hover {
      background-color: #60a5fa;
    }
